@mixin pm-none {
    margin: 0;
    padding: 0;
};

@mixin fontdefault {
    font: {
        family: 'Montserrat', sans-serif;
        weight: 400;
    };
};

@mixin bgcat {
    background: {
        image: url(/image/bgnav/stephen-leonardi-Al9Cl-b7EFU-unsplash\ 1.png);
        size: cover;
        repeat: no-repeat;
        position: 0% 50%;
    }
    object-fit: cover;
    height: 252px;
    position: relative;
    color: white;
};

body {
    @include pm-none();
    @include fontdefault();
}

.container {
    width: 1180px;
    margin: 0 auto;
}

.bgwrapper {
    @include bgcat();
    &:before {
    content: '';
        position: absolute;
        width: 100%; 
        height:100%;
        top:0; 
        left:0;
        background: rgba(31, 32, 33, 0.79);
    }
    .container {
        position: relative;
        z-index: 2;
    }
    .index__nav__flex {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 45px;
    }
}

.index__nav {
    display: flex;
    justify-content: space-between;
    width: 500px;
    li {
        list-style: none;
    }
}


.index__contacts {
    width: 220px;
    text-align: right;
}