@mixin pm-none {
    margin: 0;
    padding: 0;
};

@mixin fontdefault {
    font: {
        family: 'Montserrat', sans-serif;
        weight: 400;
    };
};

@mixin bgcat {
    background: {
        image: url(/image/bgnav/stephen-leonardi-Al9Cl-b7EFU-unsplash\ 1.png);
        size: cover;
        repeat: no-repeat;
        position: 0% 50%;
    }
    object-fit: cover;
    height: 252px;
    position: relative;
    color: white;
};

body {
    @include pm-none();
    @include fontdefault();
}

.container {
    width: 1180px;
    margin: 0 auto;
    .find_other_button {
        margin: 0 auto;
        display: block;
        margin-bottom: 80px;
        background-color: transparent;
        padding: 24px 129px 24px 129px;
        border-radius: 10px;
        font-size: 14px;
    }
}

.bgwrapper {
    @include bgcat();
    &:before {
    content: '';
        position: absolute;
        width: 100%; 
        height:100%;
        top:0; 
        left:0;
        background: rgba(31, 32, 33, 0.79);
    }
    .container {
        position: relative;
        z-index: 2;
    }
    .index__nav__flex {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 45px;
    }
    .index__find {
        p {
            margin-top: 36px;
            font-size: 38px;
            line-height: 46px;
            font-weight: 700;
        }
    }
}

.index__nav {
    display: flex;
    justify-content: space-between;
    width: 500px;
    li {
        list-style: none;
    }
}


.index__contacts {
    width: 220px;
    text-align: right;
}

.sort {
    span {
        margin: 37px 0 37px 0;
        padding-left: 48px;
        display: inline-block;
        &::after {
            content: '';
            display: inline-block;
            margin-left: 14px;  
            border: 1px solid black;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
            padding: 5px;
        }
        &:nth-child(1)::after {
            display: none;
        }
        &:first-child {
            padding: 0;
        }
    }
}

.catalog_index {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 60px;
    grid-column-gap: 20px;
    margin-bottom: 90px;
    .catalog_item {
        width: 380px;
        // height: 380px;
        background-color: #F3F3F3;;
        min-height: 521px;
        h2 {
            padding: 29px 0px 22px 29px;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            margin: 0;
        }
    }
    img {
        object-fit: cover;
        width: 380px;
    }
}
.catalog_item{
    &:nth-child(1), 
    &:nth-child(2), 
    &:nth-child(3), 
    &:nth-child(4), 
    &:nth-child(5), 
    &:nth-child(6){
        position: relative;
    }
}

.catalog_item {
    &:nth-child(1)::before,
    &:nth-child(5)::before {
        content: '-40%';
        text-align: center;
        line-height: 39px;
        color: #fff;
        position: absolute;
        top: 34px;
        left: 38px;
        background-color: #E62D2D;
        width: 78px;
        height: 39px;
        border-radius: 10px;
    }
    &:nth-child(1)::after, 
    &:nth-child(3)::after, 
    &:nth-child(4)::after, 
    &:nth-child(5)::after {
        content: '';
        position: absolute;
        top: 34px;
        right: 32px;
        height: 40px;
        width: 46px;
        background-image: url(/svg/heart_gray.svg);
    }
    &:nth-child(2)::after,
    &:nth-child(6)::after {
        content: '';
        position: absolute;
        top: 34px;
        right: 32px;
        height: 40px;
        width: 46px;
        background-image: url(/svg/heart.svg);
    }
    .catalog_description strong:nth-child(2){
        padding: 22px 0px 29px 29px;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }

    .catalog_description {
        .catalog_description_wrapper {
            padding: 29px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            p {
                &:first-child {
                    position: relative;
                    &::before {
                        content: '';
                        position: absolute;
                        left: -18px;
                        top: 3px;
                        height: 33px;
                        width: 4px;
                        background-color: #6EBBD3;
                    }
                }
            }
        }
    }
}

.catalog_description_button-buy {
    display: block;
    margin-top: 21px;
    margin-bottom: 21px;
    width: 100%;
    height: 65px;
    border: none;
    background-color: #6EBBD3;
    color: #fff;
    font-weight: 700;
    line-height: 20px;    
    font-size: 16px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.catalog_description_button-sold {
    display: block;
    margin-top: 21px;
    margin-bottom: 21px;
    width: 100%;
    height: 65px;
    border: none;
    background-color: #1F2021;
    color: #fff;
    font-weight: 700;
    line-height: 20px;    
    font-size: 16px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.footer_wrapper {
    background-color: #1F2021;
    color: white;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 83px 80px 50px 80px;
    h2 {
        width: 367px;
        font-size: 48px;
        font-weight: 700;
    }
    .footer_checkbox_remember {
        margin-right: auto;
    }
    .footer_emailsubscribe {
        margin-left: 50px;
        margin-right: auto;
        input {
            width: 300px;
            height: 65px;
            border-radius: 10px;
        }
    }
}